[submodule "other_libs/filedb"]
	path = other_libs/filedb
	url = git://qcdsfware.uni-r.de/filedb.git
[submodule "other_libs/libintrin"]
	path = other_libs/libintrin
	url = git://qcdsfware.uni-r.de/libintrin.git
[submodule "other_libs/qio"]
	path = other_libs/qio
	url = git://qcdsfware.uni-r.de/qio.git
[submodule "other_libs/xpath_reader"]
	path = other_libs/xpath_reader
	url = git://qcdsfware.uni-r.de/xpath_reader.git
